inputs/*
!inputs/.gitkeep
final/*
!final/.gitkeep
blurred/*
!blurred/.gitkeep
multithread-res/*
!multithread-res/.gitkeep
multithreaded_ou/*
!multithreaded_ou/.gitkeep
images/*
!images/.gitkeep
text_json/*
!text_json/.gitkeep
.env
venv
__pycache__
*.mp4
*.js